

body {
    font-family:'Times New Roman', Times, serif;
    background-color: #9FB5C4;
    color:darkslategray;
    margin: 0;
    padding:0;
    text-align: left;
    line-height:1.6;
}
.container{
    width:800px;
    margin: 0 auto;
    background-color:ivory;
}

h1{
    font-size: 3rem;
    color: darkslategray;
    margin-top: 30px;
    margin-bottom: 10px;
}

h2{
    font-size: 3rem;
    font-style:italic;
    font-weight: normal;
    color: darkslategray;
    margin: 0 auto 30px auto;
    width: 80%;
}

h3{
    font-size: 1.8rem;
    color:darkslategray;
      margin-top: 40px;
      margin-bottom: 15px;
}

P{
    width: 75%;
    max-width: 900px;
    margin: 0 auto 20px auto;
    font-size: 1.05rem;
    background-color:#9FB5C4;
    padding:18px;
    border-radius:12px;
}

img{
    width:180px;
    border-radius: 14px;
    border: solid 3px grey;
    float:left;
    margin-right: 20px;
    margin-bottom: 10px;
}
.wrap-img{
  float: left;
  width: 150px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.didyouknow {
  width: 250px;
  padding: 15px;
  margin: 20px auto;
  border: 1px solid #aaa;
  background-color: #eef4f7;
  text-align: left;
}




